.settings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%; /* 100% szélesség a reszponzivitás érdekében */
  max-width: 800px; /* Maximum szélesség */
}

.settingsOption {
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.left-panel {
  position: fixed;
  top: 60px;
  left: 0;
  width: 300px;
  height: calc(100vh - 60px);
  background-color: #e2e7ec;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}

.left-panel .option {
  box-shadow: 0 0 10px rgb(24, 37, 53, 0.5);
  margin-bottom: 15px;
  cursor: pointer;
  color: #1e2a38;
  font-size: 15px;
  padding: 10px 12px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.left-panel .option:hover {
  background-color: #182535;
  color: white;
}

.left-panel .option.active {
  background-color: #182535;
  color: white;
  font-weight: bold;
}

.deactive {
  box-shadow: 0 0 10px rgba(73, 1, 1, 0.5);
  background-color: red;
  margin-bottom: 15px;
  cursor: pointer;
  color: rgb(24, 37, 53);
  font-size: 15px;
  padding: 10px 12px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.left-panel .deactive {
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.left-panel .deactive:hover {
  background-color: #741e26;
  color: #ccc;
}

.main-content {
  margin-left: 220px;
  flex: 3 1 600px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  overflow-x: auto;
  width: 100%; /* 100% szélesség a reszponzivitás érdekében */
  max-width: 800px; /* Maximum szélesség */
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #2c3e50;
}

.right-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.option {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Reszponzív design */
@media screen and (max-width: 768px) {
  .left-panel {
    width: 180px;
  }

  .main-content {
    margin-left: 180px;
    padding: 20px;
  }

  .left-panel .option {
    font-size: 14px;
    padding: 8px;
  }

  .right-panel {
    font-size: 14px;
    padding: 15px;
  }

  .header {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .left-panel {
    width: 100%; /* Teljes szélesség mobilon */
    position: relative; /* Fix helyett relatív */
    height: auto; /* Automatikus magasság */
  }

  .main-content {
    margin-left: 0; /* Nincs bal margó mobilon */
    padding: 15px; /* Csökkentett padding */
  }

  .left-panel .option {
    font-size: 12px; /* Kisebb betűméret mobilon */
    padding: 6px; /* Csökkentett padding */
  }

  .right-panel {
    font-size: 12px; /* Kisebb betűméret mobilon */
    padding: 10px; /* Csökkentett padding */
  }

  .header {
    font-size: 12px; /* Kisebb betűméret mobilon */
  }
}