@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
    background: rgb(235, 229, 229);
    height: 100vh;
}


/* Master layout / navbar */
.navbar {
    background-color: #182535;
    color: aliceblue;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.active{
    text-align: center;
    margin: 5px;
   padding: 10px;
   border-radius: 15px;
}

.active:hover {
    background-color: rgba(240, 248, 255, 0.192);

}
.offcanvas-header{
    background-color: #182535;
    color: aliceblue;
}

.offcanvas-body{
    background-color: #182535;
    color: aliceblue;
}

/* END Master layout  */


/* Account page */

.settingsOption{
    text-align: center;
    margin: 5px;
   padding: 10px;
   border-radius: 15px;
}

/* END Account page */



/* Ezek csak nekem teszt körvonalak, ezeket majd kiveszem amint nem lesz szükség rá -K */

.wan{
    border: red 5px solid;

}

.wanChild{
    overflow:hidden;
    border: red 5px solid;

}
