@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e2e7ec;
}

.settings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.left-panel {
    flex: 1;
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

.table-container th,
.table-container td {
    border: 1px solid #ccc;

    text-align: center;
}
.btnedit,
.btncreate {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btnedit {
    background-color: #182535;
    color: white;
}

.btnedit:hover {
    background-color: #2c3e50;
    color: #ccc;
}

#mainContent {
    margin-bottom: 20px;
    font-style: italic;
}

@media (max-width: 768px) {
    .settings-container {
        flex-direction: column;
    }

    .left-panel {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .left-panel .option {
        flex: 1 1 45%;
        text-align: center;
    }

    .main-content {
        padding: 10px;
    }

    .table-container table {
        font-size: 14px;
    }

    .btnedit {
        padding: 4px 8px;
        font-size: 12px;
    }
}

.save {
    margin-left: 1449px;
    margin-top: 1%;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
