@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #182535;
    font-weight: 300;
    padding: 0 24px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 12px;
    background-color: #fff;
}

.submit {
    margin-right: 10px;
    padding: 10px 18px;
    border: none;
    align-self: flex-start;
    background-color: #182535;
    color: #fff;
    border-radius: 12px;
    transition: 300ms;
}

.submit:hover {
    cursor: pointer;
    background-color: #cccccc;
    color: #182535;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.btn-back {
    margin: 10px 10px;
    padding: 12px 18px;
    border: 1px solid rgb(155, 152, 152);
    align-self: flex-start;
    background-color: transparent;
    color: #181824;
    border-radius: 12px;
    transition: 300ms;
}

.btn-back:hover {
    cursor: pointer;
    background-color: #cccccc;
    color: #182535;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Form Content */
.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

/* From Heading */

.form-heading {
    text-align: center;
    margin-bottom: 32px;
}

.form-heading img {
    width: 50px;
    height: auto;
}

/* Form fields */

.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    position: relative;
}

input {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #181824;
    transition: 300ms;
    font-size: 14px;
    font-weight: 300;
}

input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #6236ff;
    border-color: #6236ff;
}

.label {
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    transition: 300ms ease;
}

label {
    display: block;
    font-size: 14px;
    color: #b0b0b0;
}

button {
    padding: 12px 18px;
    border: none;
    align-self: flex-start;
    background-color: #1e9af3;
    color: #fff;
    border-radius: 12px;
    transition: 300ms;
}

button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #6236ff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

.podi {
    font-size: 16px;
    color: blue;
}

